
.MainBody{
    width: 640px;
    height: auto;
    background-color: black;
    border: 5px solid red;
    color: white;
    margin: 25%;
    margin-top: 0%;
    margin-left: 30%;
    padding: 5%;
   
}
#h1{
  margin-top: 10px;
    text-align: center;
}

#ItemDisplay{
  width: auto;
  height: auto;
}