
.app{
  height: 1200px;
  background-image: url('./thumb-1920-8788.png');
}
.MainBody{
    width: 640px;
    height: auto;
    background-color: rgba(27, 24, 24, 0.925);
    border: 5px solid red;
    border-radius: 25px;
    color: white;
    margin-top: -5%;
    margin-left: 30%;
    padding: 1%;
  
}
.MainBody1{
  width: 640px;
  height: auto;
  color: white;
  margin-top: 0%;
  margin-left: 25%;
  padding: 5%;
  
}

#h1{
  margin-top: 10px;
    text-align: center;
}

#ItemDisplay{
  width: auto;
  height: auto;
}